* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0.8rem 3.5rem;
}

.prod-img {
  width: 40px;
  height: auto;
}

.prod-img-edit {
  width: 80px;
  height: auto;
}

.inner-form {
  display: inline-block;
}
